body {
  font-family: "Pretendard", sans-serif !important;
  overflow: auto;
}

@supports (-webkit-touch-callout: none) {
  body {
    font-family: "Pretendard", sans-serif !important;
  }
}

:root {
  --blue: #5849df;
  --light-blue: #7363ff;
  --light-gray: #f2f2f2;
}

.main-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: white;
  padding: 36px 36px;
  gap: 8px;
}

.week-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 22px;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
}
.week-card-wrapper:hover {
  transform: translate(0, -1.2px);
}
.week-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 40px;
}
.week-text {
  font-family: "Pretendard", sans-serif;
  color: white;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.48px;
}
.date-text {
  font-family: "Pretendard", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.32px;
}
.accuracy-text {
  font-family: "Pretendard", sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.48px;
  margin-right: 40px;
}
.accuracy-label {
  color: white;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.4px;
}

.test-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--light-gray);
  border-radius: 22px;
  gap: 14px;
  margin-bottom: 7px;
}
.test-words-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  margin-right: 3px;
}
.test-words-text {
  font-family: "Pretendard", sans-serif;
  color: var(--blue);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
.test-words-counter-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.test-words-counter-text {
  font-family: "Pretendard", sans-serif;
  width: 28px;
  text-align: center;
  color: var(--blue);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.48px;
}
.arrow-image {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.reverse {
  transform: rotate(180deg);
}
.nondraggable {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: auto;
}
.test-language-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.test-mode-wrapper {
  display: flex;
  width: 120px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
.test-language-button {
  width: 100%;
  background-color: #dedede;
  color: #a6a6a6;
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.2px;
  padding: 5px 12px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  outline: none;
  transition: transform 0.15s ease-in-out;
}
.test-language-button:hover {
  transform: translate(0, -1.2px);
}
.test-start-button {
  background-color: var(--blue);
  color: white;
  font-family: "Pretendard", sans-serif;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.3px;
  padding: 11px 15px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: transform 0.15s ease-in-out;
}
.test-start-button:hover {
  transform: translate(0, -1.2px);
}

.finished-text {
  color: var(--blue);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.8px;
  margin-top: -20px;
  margin-bottom: 20px;
}
.send-results-button {
  background-color: var(--light-blue);
  color: white;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.3px;
  padding: 8px 0;
  width: 170px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  outline: none;
  margin-bottom: 5px;
}
.home-button {
  background-color: var(--blue);
  color: white;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -0.3px;
  padding: 8px 0;
  width: 170px;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  outline: none;
}
