body {
  font-family: "Pretendard", sans-serif;
  overflow: auto;
}

:root {
  --blue: #5849df;
  --light-blue: #7363ff;
  --light-gray: #f2f2f2;
}

.main-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: white;
  padding: 36px 12px;
  gap: 8px;
}

.week-card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  border-radius: 22px;
  cursor: pointer;
}
.week-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 50px;
}
.week-text {
  color: white;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.48px;
}
.date-text {
  color: white;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: -0.32px;
}
.accuracy-text {
  color: white;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.48px;
  margin-right: 50px;
}
.accuracy-label {
  color: white;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -0.4px;
}

.test-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--light-gray);
  border-radius: 22px;
  gap: 15px;
  margin-bottom: 7px;
}
.test-words-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.test-words-text {
  color: var(--blue);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.32px;
}
.test-words-counter-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.test-words-counter-text {
  width: 34px;
  text-align: center;
  color: var(--blue);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.48px;
}
.arrow-image {
  width: 17px;
  height: 17px;
  cursor: pointer;
}
.reverse {
  transform: rotate(180deg);
}
.nondraggable {
  -webkit-user-drag: none;
  user-select: none;
  pointer-events: auto;
}
.test-language-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.test-language-button {
  background-color: #dedede;
  color: #a6a6a6;
  font-family: "Pretendard", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.2px;
  padding: 5px 12px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  outline: none;
}
.test-start-button {
  background-color: var(--blue);
  color: white;
  font-family: "Pretendard", sans-serif;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -0.3px;
  padding: 11px 15px;
  border-radius: 22px;
  border: none;
  cursor: pointer;
  outline: none;
}
